extends layout

block content
  .topsep
  .spaced
    p
        span#bio-photo
        | Gaaflora Galleries was thought up by Kari Holes. Born and raised in a small town back east, Kari brings small town charm to the city. Attention to detail, strong focus, and a sense of familiarity will have you coming back again and again. It is our goal to make you feel right at home with everyone watching you look pretty for the camera. Whether it’s your birthday, your graduation, your wedding day, or your anniversary we strive to make you feel loved and adored for maximum image quality!
    p More text goes here... maybe some photos?
  .spaced
    h2 Experience Matters!
    .left
      h3 Bands
      ul
        li Cold War Kids
        li Modest Mouse
        li Jay Z
        li Regina Spektor
        li Nora Jones
        li Tori Amos
        li Tokyo Police Club
        li Weezer
        li The National
        li David Dondero
        li The Flaming Lips
        li Dropkick Murphy's
        li Against Me!
        li Rise Against
        li The Gaslight Anthem
        li Damien Marly &amp; Nas
      h3 Festivals
      ul
        li Sasquach
        li Bonnaroo
      h3 Studios
      ul
        li Picture People
        li Yankee Stadium NYC
      h3 Education
      ul
        li Edinboro University
        li Art Institute of Seattle
    .clear
