extends layout

block content
  .bottomsep
  .slideshow-frame
    img.slideshow-image(src="/images/guitar_800.jpg")
  .topsep
  p#slogan(style="font-size: 280%; text-align: center; margin: 0.4em") Saving Your Memories One Photo At A Time
  br
  .row
    #weddings.slideshow-frame.small.rot2
      img.slideshow-image(src="/images/rings_800.jpg", width="226", height="155")
      .title Weddings
    #events.slideshow-frame.small.rotm1
      img.slideshow-image(src="/images/water_800.jpg", width="226", height="155")
      .title Events
    #baby.slideshow-frame.small.last.rot1
      img.slideshow-image(src="/images/baby.jpg", width="226", height="155")
      .title Baby
  br
  br
  .row
    #bands.slideshow-frame.small.rotm1
      img.slideshow-image(src="/images/bands.jpg", width="226", height="155")
      .title Bands
    #portraits.slideshow-frame.small.rot2
      img.slideshow-image(src="/images/portraits.jpg", width="226", height="155")
      .title Portraits
    #around.slideshow-frame.small.last.rotm1
      img.slideshow-image(src="/images/boat_800.jpg", width="226", height="155")
      .title Around
  br
  br
