extends layout

block content
  .bottomsep
  .slideshow-frame
    img.slideshow-image(src="/images/guitar_800.jpg")
  .topsep
  p#slogan(style="font-size: 280%; text-align: center; margin: 0.4em") Saving Your Memories One Photo At A Time
  br
  .row
    .slideshow-frame.small
      img.slideshow-image(src="/images/guitar_800.jpg", width="226", height="155", style="-webkit-filter: hue-rotate(90deg);")
      .title Weddings
    .slideshow-frame.small
      img.slideshow-image(src="/images/guitar_800.jpg", width="226", height="155", style="-webkit-filter: hue-rotate(180deg);")
      .title Events
    .slideshow-frame.small.last
      img.slideshow-image(src="/images/guitar_800.jpg", width="226", height="155", style="-webkit-filter: hue-rotate(270deg);")
      .title Portraits
  br
  br
  .row
    .slideshow-frame.small
      img.slideshow-image(src="/images/guitar_800.jpg", width="226", height="155", style="-webkit-filter: hue-rotate(45deg);")
      .title Bands
    .slideshow-frame.small
      img.slideshow-image(src="/images/guitar_800.jpg", width="226", height="155", style="-webkit-filter: hue-rotate(135deg);")
      .title Protests
    .slideshow-frame.small.last
      img.slideshow-image(src="/images/guitar_800.jpg", width="226", height="155", style="-webkit-filter: hue-rotate(225deg);")
      .title Family
  br
  br
