doctype 5
html
  head
    title= title
      | :: Gaaflora Galleries
    //meta(name="description", content="#{description}")
    //meta(property="og:title", content="#{title} :: Gaaflora Galleries")
    //meta(property="og:description", content="#{description}")
    link(rel="icon", type="image/png", href="/images/favicon.png")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Marck+Script|Raleway:200|Waiting+for+the+Sunrise|Quintessential')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/zocial.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    != css('/stylesheets/style')
  body
    .main-container
      nav
        ul.right
          li: a(href="/aspect") Aspect
          li: a(href="/#slogan") Portfolio
          li: a(href="/pricing") Price Out
          li: a(href="/appointments") Appointments
        ul
          li: a(href="/")
            img.left(src="/images/camera.png", style="margin-top: -12px;")
            | Gaaflora Galleries
      div.clear
      block content
      #fb-root
      script </script>
      .topsep
      section.social
        br
        .fb-like-box(data-href="http://www.facebook.com/pages/Gaaflora-Galleries-Photography/142152792569848", data-width="325", data-show-faces="false", data-stream="false", data-header="true", data-colorscheme="dark")
        br
        br
        a.twitter-follow-button(href="https://twitter.com/gaaflora", data-show-count="false", data-width="130px") Follow @gaaflora
        br
        br
      .bottomsep
      .social
        a.zocial.call Call
        a.zocial.gmail(href="mailto:kari@gaaflora.com") Email
        a.zocial.cal(href="/appointments") Appointments
        a.zocial.facebook(href="https://www.facebook.com/pages/Gaaflora-Galleries-Photography/142152792569848") Facebook
        a.zocial.twitter(href="https://twitter.com/gaaflora") Twitter
        a.zocial.googleplus Google+
      .footer Copyright &copy; 2013 Gaaflora Galleries Photography ~ +1 (814) 566-9208 ~ Made with <i class="icon-heart-empty"></i> in Seattle, WA
  #call-now.call: div Call now
  #phone(style="display: none") (814) 566-9208
  #gallery(style="display: none")
    .pane
    .prev: i.icon-arrow-left
    .next: i.icon-arrow-right
    .fullscreen: i.icon-fullscreen
    .autoplay: i.icon-play
  script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.1.min.js")
  != js('/javascripts/main')
