@import 'nib'
@import 'bootstrap'

body
  padding: 30px
  font: 14px 'Quintessential', 'Lucida Grande', Helvetica, Arial, sans-serif
  color: #eee;
  background: #222 url(/images/dark_leather.png);
  background-image: -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.035)), url(/images/dark_leather.png);
  background-image: -moz-radial-gradient(rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.035)), url(/images/dark_leather.png);
  background-image: -ms-radial-gradient(rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.035)), url(/images/dark_leather.png);
  background-image: -o-radial-gradient(rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.035)), url(/images/dark_leather.png);
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 70%, rgba(255, 255, 255, 0.035)), url(/images/dark_leather.png);
  margin: 0px;

p, li, h1, h2, h3, h4, h5, h6
  color: #eee

a
  color: #00B7FF

nav
  position: relative
  font-family: 'Marck Script', 'Lucida Grande', Helvetica, Arial, sans-serif

  ul
    padding: 0
    margin: 0

    li
      display: inline
      padding: 0
      margin: 0

      a
        color: #eee
        font-size: 18pt
        text-decoration: none
        line-height: 24px
        padding: 0.5em
        margin: 0
        transition: all
        transition-duration: 0.4s

        &:hover
          color: #eee
          text-decoration: none
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7)
          transition: all
          transition-duration: 0.4s

.right
  float: right

.left
  float: left

.clear
  clear: both

.align-right
  text-align: right

.main-container
  width: 820px
  margin-left: auto
  margin-right: auto

.topsep
  height: 10px
  margin-left: auto
  margin-right: auto
  background: -webkit-radial-gradient(center 0, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: -moz-radial-gradient(center 0, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: -o-radial-gradient(center 0, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: -ms-radial-gradient(center 0, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: radial-gradient(center 0, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  border-top: 1px solid rgba(0, 0, 0, 0.05)
  clear: both

.bottomsep
  height: 10px
  margin-left: auto
  margin-right: auto
  background: -webkit-radial-gradient(center 100%, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: -moz-radial-gradient(center 100%, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: -o-radial-gradient(center 100%, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: -ms-radial-gradient(center 100%, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  background: radial-gradient(center 100%, ellipse farthest-side, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0))
  border-bottom: 1px solid rgba(0, 0, 0, 0.05)
  clear: both

.slideshow-frame
  position: relative
  padding: 10px
  background-color: #eee;
  border-radius: 2px
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.8), inset -1px -1px 0px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5)

  &.small
    display: inline-block
    cursor: pointer

    &:not(.last)
      margin-right: 40px

    // Add layer to lighten on hover
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: white
      opacity: 0.0
      transition: opacity
      transition-duration: 0.4s

    &:hover:after
      opacity: 25
      transition: opacity
      transition-duration: 0.4s

  .slideshow-image
    border-radius: 2px
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.25), inset -1px -1px rgba(255, 255, 255, 0.25)

  .title
    text-align: center
    font-family: "Waiting for the Sunrise"
    font-size: 24pt
    color: black
    margin-bottom: -10px

.rot1
  transform: rotate(1deg) translateZ(0)

.rot2
  transform: rotate(2deg) translateZ(0)

.rotm1
  transform: rotate(-1deg) translateZ(0)

.rotm1
  transform: rotate(-2deg) translateZ(0)

.spaced
  margin-top: 1em;
  margin-bottom: 1em;

#bio-photo
  display: block
  width: 173px
  height: 260px
  background: url(/images/kari-rabbit.jpg)
  border-radius: 4px
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(0, 0, 0, 0.4)
  margin-top: 3px
  margin-right: 24px
  margin-bottom: 12px

.social
  text-align: center
  font-size: 7pt

  a:hover
    color: white

  .zocial
    margin: 1.5em 0.5em 0.5em 0.5em

    &:before
      margin: 0

    &.gmail
      color: black

.zocial:hover 
  color: white

.hidden
  opacity: 0

#call-now
  cursor: pointer
  position: fixed
  top: 30px
  right: -50px
  padding: 2px
  color: #ddd
  background: #030303
  border-radius: 4px
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5)
  transform: rotate(45deg) translateZ(0)

  div
    padding: 0.5em 5em
    border: 1px dashed #303030
    border-radius: 4px

#phone 
  position: fixed
  z-index: 9999
  top: 0
  left: 0
  width: 100%
  height: 100%
  padding-top: 200px
  text-align: center
  font-size: 72pt
  color: white
  background: black
  opacity: 0
  transition: opacity
  transition-duration: 0.4s
  pointer-events: none

  &.show
    opacity: 90
    pointer-events: auto

.footer
  padding-top: 1em
  text-align: center
  color: #777

