body {
  padding: 30px;
  font: 14px 'Raleway', 'Lucida Grande', Helvetica, Arial, sans-serif;
  color: #eee;
  background: #222 url("/images/dark_leather.png");
  background-image: -webkit-radial-gradient(rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.025)), url("/images/dark_leather.png");
  background-image: -moz-radial-gradient(rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.025)), url("/images/dark_leather.png");
  background-image: -o-radial-gradient(rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.025)), url("/images/dark_leather.png");
  background-image: -ms-radial-gradient(rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.025)), url("/images/dark_leather.png");
  background-image: radial-gradient(rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.025)), url("/images/dark_leather.png");
  margin: 0px;
}
a {
  color: #00b7ff;
}
nav {
  position: relative;
  font-family: 'Marck Script', 'Lucida Grande', Helvetica, Arial, sans-serif;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline;
  padding: 0;
  margin: 0;
}
nav ul li a {
  color: #eee;
  font-size: 18pt;
  text-decoration: none;
  padding: 0.5em;
  margin: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
nav ul li a:hover {
  text-shadow: 0px 0px 5px rgba(255,255,255,0.7);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.main-container {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}
.topsep {
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-radial-gradient(center 0, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: -moz-radial-gradient(center 0, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: -o-radial-gradient(center 0, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: -ms-radial-gradient(center 0, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  border-top: 1px solid rgba(0,0,0,0.05);
  clear: both;
}
.bottomsep {
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-radial-gradient(center 100%, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: -moz-radial-gradient(center 100%, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: -o-radial-gradient(center 100%, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  background: -ms-radial-gradient(center 100%, ellipse farthest-side, rgba(0,0,0,0.3), rgba(0,0,0,0));
  border-bottom: 1px solid rgba(0,0,0,0.05);
  clear: both;
}
.slideshow-frame {
  position: relative;
  padding: 10px;
  background-color: #eee;
  border-radius: 2px;
  box-shadow: inset 1px 1px 0px rgba(255,255,255,0.8), inset -1px -1px 0px rgba(0,0,0,0.5), 0px 0px 10px rgba(0,0,0,0.5);
}
.slideshow-frame.small {
  display: inline-block;
  cursor: pointer;
}
.slideshow-frame.small:not(.last) {
  margin-right: 40px;
}
.slideshow-frame.small:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.slideshow-frame.small:hover:after {
  opacity: 0.25;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.slideshow-frame .slideshow-image {
  border-radius: 2px;
  box-shadow: inset 1px 1px 0px rgba(0,0,0,0.25), inset -1px -1px rgba(255,255,255,0.25);
}
.slideshow-frame .title {
  text-align: center;
  font-family: "Waiting for the Sunrise";
  font-size: 24pt;
  color: #000;
  margin-bottom: -10px;
}
.rot1 {
  -webkit-transform: rotate(1deg) translateZ(0);
  -moz-transform: rotate(1deg) translateZ(0);
  -o-transform: rotate(1deg) translateZ(0);
  -ms-transform: rotate(1deg) translateZ(0);
  transform: rotate(1deg) translateZ(0);
}
.rot2 {
  -webkit-transform: rotate(2deg) translateZ(0);
  -moz-transform: rotate(2deg) translateZ(0);
  -o-transform: rotate(2deg) translateZ(0);
  -ms-transform: rotate(2deg) translateZ(0);
  transform: rotate(2deg) translateZ(0);
}
.rotm1 {
  -webkit-transform: rotate(-1deg) translateZ(0);
  -moz-transform: rotate(-1deg) translateZ(0);
  -o-transform: rotate(-1deg) translateZ(0);
  -ms-transform: rotate(-1deg) translateZ(0);
  transform: rotate(-1deg) translateZ(0);
}
.rotm1 {
  -webkit-transform: rotate(-2deg) translateZ(0);
  -moz-transform: rotate(-2deg) translateZ(0);
  -o-transform: rotate(-2deg) translateZ(0);
  -ms-transform: rotate(-2deg) translateZ(0);
  transform: rotate(-2deg) translateZ(0);
}
.spaced {
  margin-top: 1em;
  margin-bottom: 1em;
}
#bio-photo {
  display: block;
  float: left;
  width: 80px;
  height: 102px;
  background: url("/images/kari-80.jpg");
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.3), 1px 1px 2px rgba(0,0,0,0.4);
  margin-top: 3px;
  margin-right: 8px;
  margin-bottom: 5px;
}
.social {
  text-align: center;
  font-size: 7pt;
}
.social .zocial {
  margin: 1.5em 0.5em 0.5em 0.5em;
}
.social .zocial:before {
  margin: 0;
}
.social .zocial.gmail {
  color: #000;
}
.hidden {
  opacity: 0;
}
#call-now {
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: -50px;
  padding: 2px;
  color: #ddd;
  background: #030303;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  -webkit-transform: rotate(45deg) translateZ(0);
  -moz-transform: rotate(45deg) translateZ(0);
  -o-transform: rotate(45deg) translateZ(0);
  -ms-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
}
#call-now div {
  padding: 0.5em 5em;
  border: 1px dashed #222;
  border-radius: 4px;
}
#phone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 200px;
  text-align: center;
  font-size: 72pt;
  color: #fff;
  background: #000;
  opacity: 0.9;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
#phone.hidden {
  opacity: 0;
  pointer-events: none;
}
.footer {
  padding-top: 1em;
  text-align: center;
  color: #777;
}
